.hide { 
    visibility: hidden;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#login-button {
    float: right;
    background: #bf0a30;
    border: none;
}

.header {
    font-size: 48px;
    color: #00335b;
}

.red {
    color: #bf0a30;
}

.userColor {
    width: 10px;
    height: 10px;
    background: red;
    display: inline-block;
    margin-right: 5px;
}

body {
    background: #ebebeb;

}