body  {
    font-family: 'Press Start 2P', cursive !important;
}

.hide { 
    visibility: hidden;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#login-button {
    float: right;
    background: #bf0a30;
    border: none;
}

.header {
    font-size: 48px;
    color: #00335b;
}

.sub-header {
    margin-top: 15px;
    font-size: 24px;
}

.red {
    color: #bf0a30;
}

.userColor {
    width: 10px;
    height: 10px;
    background: red;
    display: inline-block;
    margin-right: 5px;
}

body {
    background-color: #9bc327;
}

a {
    color : white !important;
    text-decoration : none !important;
}

.container {
    height: 100%;
}

#login,
#game {
    border: 8px solid black;
    height: 100%;
}

#login {
    margin-top: 15px;
    height: 300px;
}

#scoreboard {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 8px solid black;
}

#userScore {
    float: right;
}